

  <div class="loading-bar"></div>

	<%= render 'header' %>
	
	<main id="content">
		<div class="wrapper">
			
			<div id="works-intro">

				<div class="work half-width left">
					<%= image_tag "lazar6.png" %>
				</div>

				<div class="work half-width right">
					<img src="http://placehold.it/1200x1200" alt="Written" />
					<a href="https://www.youtube.com/watch?v=VdBbtLQHPCg" target="_blank">
						<div class="caption">
							<h2 class="title">Make</h2>
							<div class="subtitle">
							<h1>Some people want it to happen, some wish it would happen, others make it happen.
							</h1>
							</div>
						</div>
					</a>
				</div>

				<div class="work one-third-width left">
					<%= image_tag "Dusan_Djolevic2" %>
				</div>

				<div class="work one-third-width middle">
					<img src="http://placehold.it/1200x1200" alt="Codeup" />
					<a href="https://www.youtube.com/watch?v=BK5seVTgfRE" target="_blank">
						<div class="caption">
							<h2 class="title">Today</h2>
							<div class="subtitle">Today is your day 
							To start fresh. To eat right. To train hard. To live healthy. To be Proud.
							</div>
						</div>
					</a>
				</div>		

				<div class="work one-third-width right">
					<%= image_tag "lazar2" %>
				</div>

				<div class="work one-third-width left">
					<img src="http://placehold.it/1200x1200" alt="Codeup" />
					<a href="https://www.youtube.com/watch?v=x3wCNVAvJEw" target="_blank">
						<div class="caption">
							<h2 class="title">Secret</h2>
							<div class="subtitle">There are no secrets to success. It is the result of preparation, hard work, and learning from failure.</div>
						</div>
					</a>
				</div>

				<div class="work one-third-width middle">
					<%= image_tag "lazar3" %>
				</div>			

				<div class="work one-third-width right">
					<img src="http://placehold.it/1200x1200" alt="Ecamm" />
					<a href="https://www.youtube.com/watch?v=TrCTLLF02Lo" target="_blank">
						<div class="caption">
							<h2 class="title">Impossible</h2>
						<div class="subtitle">it always seems impossible until it's done</div>
						</div>
					</a>
				</div>
				</div>
			</div>
	</main>
	
	<%= render 'footer' %>