

  <div class="loading-bar"></div>

	<%= render 'header' %>
	
	<main id="content">
		<div class="wrapper">
			
			<div id="works-intro">

				<!-- 第一層 左右平分 -->
				<div class="work half-width left">
					<%= image_tag "lazar6.png" %>
				</div>

				<div class="work half-width right">
					<img src="http://placehold.it/1200x1200" alt="Written" />
					<a href="https://www.youtube.com/watch?v=VdBbtLQHPCg" target="_blank">
						<div class="caption">
							<!-- <h2 class="title"></h2> -->
							<div class="subtitle big">Today is your day, <br>
							To start fresh. <br> To eat right. <br> To train hard. <br> To live healthy. <br> To be Proud.
							</div>
						</div>
					</a>
				</div>

				<!-- 第二層 -->	

				<div class="work two-third-width left">
					<img src="http://placehold.it/660x330" alt="Codeup" />
					<a href="https://www.youtube.com/watch?v=BK5seVTgfRE" target="_blank">
						<div class="caption">
							<!-- <h2 class="title"></h2> -->
							<div class="subtitle">
								Some people want it to happen, <br> some wish it would happen, <br>others make it happen.
							</div>
						</div>
					</a>
				</div>		

				<div class="work one-third-width right">
					<%= image_tag "lazar2.png" %>
				</div>

				<!-- 第三層 -->	
				<div class="work three-one-third-width left">
					<img src="http://placehold.it/1200x1200" alt="Codeup" />
					<a href="https://www.youtube.com/watch?v=x3wCNVAvJEw" target="_blank">
						<div class="caption">
							<!-- <h2 class="title"></h2> -->
							<div class="subtitle">Be the best you can be. </div>
						</div>
					</a>
				</div>

				<div class="work three-one-third-width middle">
					<%= image_tag "lazar3.png" %>
				</div>			

				<div class="work three-one-third-width right">
					<img src="http://placehold.it/1200x1200" alt="Ecamm" />
					<a href="https://www.youtube.com/watch?v=TrCTLLF02Lo" target="_blank">
						<div class="caption">
							<!-- <h2 class="title"></h2> -->
						<div class="subtitle">Go hard or Go home.</div>
						</div>
					</a>
				</div>
				<!-- 第四層 -->	
				<div class="work one-third-width left">
					<%= image_tag "lazar2.png" %>
				</div>

				<div class="work two-third-width right">
					<img src="http://placehold.it/660x330" alt="Codeup" />
					<a href="https://www.youtube.com/watch?v=BK5seVTgfRE" target="_blank">
						<div class="caption">
							<!-- <h2 class="title"></h2> -->
							<div class="subtitle">There are no secrets to success. It is the result of preparation, hard work, and learning from failure.
							</div>
						</div>
					</a>
				</div>		

				<!-- 最後一層 -->	

				<div class="work half-width left">
					<img src="http://placehold.it/1200x1200" alt="Written" />
					<a href="https://www.youtube.com/watch?v=VdBbtLQHPCg" target="_blank">
						<div class="caption">
							<!-- <h2 class="title"></h2> -->
							<div class="subtitle big">
							It always seems impossible until it's done.
							</div>
						</div>
					</a>
				</div>

				<div class="work half-width right">
					<%= image_tag "lazar6.png" %>
				</div>


				</div>
			</div>
	</main>
	
	<%= render 'footer' %>